/* bg and font and border */
$dark-50: #f8fafc;
$dark-100: #f1f5f9;
$dark-200: #e2e8f0;
$dark-300: #cbd5e1;
$dark-400: #94a3b8;
$dark-450: #7c8ba2;
$dark-500: #64748b;
$dark-600: #475569;
$dark-700: #334155;
$dark-750: #283548;
$dark-800: #1e293b;
$dark-830: #1a2436;
$dark-850: #162033;
$dark-860: #151e31;
$dark-870: #141c2f;
$dark-880: #121b2d;
$dark-900: #0f172a;
$dark-950: #020617;
/* primary */
$primary-50: #eff6ff;
$primary-100: #dbeafe;
$primary-200: #bfdbfe;
$primary-300: #93c5fd;
$primary-400: #60a5fa;
$primary-500: #3b82f6;
$primary-600: #2563eb;
$primary-700: #1d4ed8;
$primary-800: #1e40af;
$primary-900: #1e3a8a;
$primary-950: #172554;
/* success */
$success-50: #f0fdfa;
$success-100: #ccfbf1;
$success-200: #99f6e4;
$success-300: #5eead4;
$success-400: #2dd4bf;
$success-500: #14b8a6;
$success-600: #0d9488;
$success-700: #0f766e;
$success-800: #115e59;
$success-900: #134e4a;
$success-950: #042f2e;
/* warning */
$warning-50: #fffbf0;
$warning-100: #fff3d5;
$warning-200: #ffe4ab;
$warning-300: #ffcf73;
$warning-400: #ffb53d;
$warning-500: #fe8e00;
$warning-600: #e57c00;
$warning-700: #bd6500;
$warning-800: #965100;
$warning-900: #7a4200;
$warning-950: #462300;
/* danger */
$danger-50: #fff1f4;
$danger-100: #ffdde5;
$danger-200: #ffb3c5;
$danger-300: #ff809b;
$danger-400: #ff4c6c;
$danger-500: #ff1d4d;
$danger-600: #e50036;
$danger-700: #bd002c;
$danger-800: #960023;
$danger-900: #7a001b;
$danger-950: #46000f;
/* info */
$info-50: #eef2ff;
$info-100: #e0e7ff;
$info-200: #c7d2fe;
$info-300: #a5b4fc;
$info-400: #818cf8;
$info-500: #6366f1;
$info-600: #4f46e5;
$info-700: #4338ca;
$info-800: #3730a3;
$info-900: #312e81;
$info-950: #1e1b4b;
/* gray */
$gray-50: #f8fafc;
$gray-100: #f1f5f9;
$gray-150: #e9eef5;
$gray-200: #e2e8f0;
$gray-300: #cbd5e1;
$gray-400: #94a3b8;
$gray-500: #64748b;
$gray-600: #475569;
$gray-700: #334155;
$gray-800: #1e293b;
$gray-900: #0f172a;
$gray-950: #020617;
