.slide-up-enter-active,
.slide-up-leave-active {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.slide-up-enter-from {
  transform: translateY(4px);
  opacity: 0;
}
.slide-up-leave-to {
  transform: translateY(4px);
  opacity: 0;
}
