@use 'vars' as *;
// only scss variables
$--dark-colors: (
  'white': $dark-50,
  'black': $dark-900,
  'primary': (
    'base': $primary-500,
  ),
  'success': (
    'base': $success-500,
  ),
  'warning': (
    'base': $warning-500,
  ),
  'danger': (
    'base': $danger-500,
  ),
  'error': (
    'base': $danger-500,
  ),
  'info': (
    'base': $info-500,
  ),
);

$--text-colors: (
  'primary': $dark-200,
  'regular': $dark-200,
  'secondary': $dark-300,
  'placeholder': $dark-400,
  'disabled': $dark-500,
);

$--border-colors: (
  '': $dark-450,
  'light': $dark-500,
  'lighter': $dark-600,
  'extra-light': $dark-700,
  'dark': $dark-400,
  'darker': $dark-450,
);

$--bg-colors: (
  '': $dark-700,
  'page': $dark-700,
  'overlay': $dark-700,
);

@forward 'element-plus/theme-chalk/src/dark/var.scss' with (
  $colors: $--dark-colors,
  $text-color: $--text-colors,
  $border-color: $--border-colors,
  $bg-color: $--bg-colors
);
