@use 'vars' as *;
$--colors: (
  'primary': (
    'base': $primary-500,
  ),
  'success': (
    'base': $success-500,
  ),
  'warning': (
    'base': $warning-500,
  ),
  'danger': (
    'base': $danger-500,
  ),
  'error': (
    'base': $danger-500,
  ),
  'info': (
    'base': $info-500,
  ),
);

$--text-colors: (
  'primary': $gray-800,
  'regular': $gray-600,
  'secondary': $gray-500,
  'placeholder': $gray-400,
  'disabled': $gray-300,
);

$--border-colors: (
  '': $gray-300,
  'light': $gray-150,
  'lighter': $gray-100,
  'extra-light': $gray-50,
  'dark': $gray-300,
  'darker': $gray-400,
);

$--border-radius: (
  'base': 8px,
  'small': 2px,
  'round': 20px,
  'circle': 100%,
);

$--button-vars: (
  'font-weight': 400,
);

// comment next lines to use default color
@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  // do not use same name, it will override.
  $colors: $--colors,
  $border-radius: $--border-radius,
  $border-color: $--border-colors,
  $text-color: $--text-colors,
  $button: $--button-vars // $button-padding-horizontal: ('default': 50px)
);

// custom dark variables
@use './dark.scss';

//custom transition
@use './addi-transition.scss';
