html,
body {
  background: white;
  min-height: 100%;
  color: var(--color-gray-800);
  font-size: 14px;
}

#nprogress .bar {
  background: var(--color-primary-500);
}

html.dark,
html.dark body {
  background: var(--color-dark-900);
  color: var(--color-dark-300);
}
