@import 'tailwindcss';
@import 'tailwindcss/utilities';
html,
body {
  @apply text-slate-800;
  min-height: 100%;
}
html {
  @apply bg-slate-100;
}

#nprogress .bar {
  @apply bg-blue-500;
}

html.dark {
  background: rgb(16, 26, 46);
}
html.dark body {
  color: rgb(180, 191, 217);
}
